[2021-10-01 04:05] thepranaygupta opened #14 "add solutions of Linked List problems"
add solutions of Linked List problems [`here`](https://github.com/thepranaygupta/Data-Structures-and-Algorithms/tree/main/01.%20DataStructures/01.%20Linked%20List/1.%20Singly-Linked-List/InterviewBit%20Questions)

comment under this issue to get assigned then commit your changes/updates in the respective directory.

Please **DO NOT** spam this repository with irrelevant PRs, or your PR will be mar

[2021-10-01 04:12] thepranaygupta opened #16 "add C++ implementation of doubly Linked List"
add C++ implementation of doubly Linked List [`here`](https://github.com/thepranaygupta/Data-Structures-and-Algorithms/tree/main/01.%20DataStructures/01.%20Linked%20List/2.%20Doubly-Linked-List/Basic%20Operations)

comment under this issue to get assigned then commit your changes/updates in the respective directory.

Please **DO NOT** spam this repository with irrelevant PRs, or your PR will be ma

[2021-10-01 04:22] PranavDherange commented on #16
I would like to work on this issue
Can u please assign me this issue

[2021-10-01 04:23] thepranaygupta commented on #16
sure go for it @PranavDherange

[2021-10-01 04:24] thepranaygupta opened #19 "add C++ implementation of circular Linked List"
add C++ implementation of circular Linked List [`here`](https://github.com/thepranaygupta/Data-Structures-and-Algorithms/tree/main/01.%20DataStructures/01.%20Linked%20List/3.%20Circular-Linked-List)

comment under this issue to get assigned then commit your changes/updates in the respective directory.

Please **DO NOT** spam this repository with irrelevant PRs, or your PR will be marked as `invali

[2021-10-01 04:25] Nidhikumari-4 commented on #19
Please assign this issue to me

[2021-10-01 04:25] thepranaygupta commented on #19
done @Nidhikumari-4

[2021-10-01 04:26] anandhu720 commented on #14
can added cpp solution for reverse a linked list

[2021-10-01 04:35] subhamengine commented on #14
ill be doing

[2021-10-01 04:35] thepranaygupta commented on #14
yes go for it @anandhu720 and @subhamengine

[2021-10-01 04:36] anandhu720 commented on #14
added a pr,can you check it please
@thepranaygupta

[2021-10-01 04:37] thepranaygupta opened #20 "implement stacks using array in C++"
implement stacks using array in C++ [`here`](https://github.com/thepranaygupta/Data-Structures-and-Algorithms/tree/main/01.%20DataStructures/02.%20Stack/Basic%20Operation/1.%20Stack%20using%20Array)

comment under this issue to get assigned then commit your changes/updates in the respective directory.

Please **DO NOT** spam this repository with irrelevant PRs, or your PR will be marked as `invali

[2021-10-01 04:38] thepranaygupta opened #21 "implement stack using LinkedList in C++"
implement stack using LinkedList in C++ [`here`](https://github.com/thepranaygupta/Data-Structures-and-Algorithms/tree/main/01.%20DataStructures/02.%20Stack/Basic%20Operation/2.%20Stack%20using%20LinkList)

comment under this issue to get assigned then commit your changes/updates in the respective directory.

Please **DO NOT** spam this repository with irrelevant PRs, or your PR will be marked as

[2021-10-01 04:39] thepranaygupta opened #22 "implement stack using queue in C++"
implement stack using queue in C++ [`here`](https://github.com/thepranaygupta/Data-Structures-and-Algorithms/tree/main/01.%20DataStructures/02.%20Stack/Basic%20Operation/3.%20Stack%20using%20Queue)

comment under this issue to get assigned then commit your changes/updates in the respective directory.

Please **DO NOT** spam this repository with irrelevant PRs, or your PR will be marked as `invalid

[2021-10-01 04:48] Nidhikumari-4 commented on #22
please assign this issue to me

[2021-10-01 04:49] Nidhikumari-4 commented on #21
please assign this issue to me

[2021-10-01 04:50] Nidhikumari-4 commented on #20
please assign this issue to me

[2021-10-01 04:54] #16 closed

[2021-10-01 04:56] parwez-zafar commented on #21
assign me this issue to me, I want to work on this issue.

[2021-10-01 04:57] thepranaygupta commented on #21
assigned @Nidhikumari-4 and @parwez-zafar

[2021-10-01 04:58] rustzz-27 commented on #22
Hello,
can you assign this issue to me
Thank you

[2021-10-01 05:01] rustzz-27 commented on #20
Hello,
can you assign this issue to me
Thank you

[2021-10-01 05:01] rustzz-27 commented on #21
Hello,
can you assign this issue to me
Thank you

[2021-10-01 05:08] subhamengine commented on #22
i can do this!

[2021-10-01 05:12] Sahilnegi-code commented on #21
can I put the code of  find the mid of linked List.

[2021-10-01 05:23] thepranaygupta commented on #22
@Nidhikumari-4 go for it!

[2021-10-01 05:54] LakshitXD commented on #14
can i submit in pyhon or any other language?

[2021-10-01 05:58] aguyran commented on #14
Can I get this assigned for some solutions in languages like python or js ?

[2021-10-01 06:01] thepranaygupta commented on #14
yes @LakshitXD you can add your python code

[2021-10-01 06:01] thepranaygupta commented on #14
yes @aguyran you can add your JS code

[2021-10-01 06:04] thepranaygupta opened #32 "implement Infix to Prefix in C++"
implement Infix to Prefix in C++ [`here`](https://github.com/thepranaygupta/Data-Structures-and-Algorithms/tree/main/01.%20DataStructures/02.%20Stack/Infix%20Prefix%20Postfix/02.%20Infix%20to%20Prefix)

comment under this issue to get assigned then commit your changes/updates in the respective directory.

Please **DO NOT** spam this repository with irrelevant PRs, or your PR will be marked as `inv

[2021-10-01 06:32] elementrix05 commented on #32
Hello! I would love to work on this issue. Can you please assign it to me ?

[2021-10-01 06:36] 8-bit-souvik opened #38 "implement bubble sort in C and C++"

[2021-10-01 06:37] 8-bit-souvik commented on #38
Hello! I would love to work on this issue. Can you please assign it to me ?

[2021-10-01 06:37] 8-bit-souvik commented on #38
Hello! I am interested to work on this issue. Can you please assign it to me ?

[2021-10-01 06:42] thepranaygupta commented on #38
assigned! @8-bit-souvik

[2021-10-01 06:44] anandhu720 commented on #14
@thepranaygupta made a pr for reverse LL

[2021-10-01 06:46] thepranaygupta commented on #32
go for it @elementrix05!

[2021-10-01 07:10] harshchandwani commented on #20
Hell, Please assign it to me.

[2021-10-01 07:17] rustzz-27 commented on #38
Hello can you assign it to me

[2021-10-01 07:31] thepranaygupta commented on #38
sorry this issue is already assigned to someone, consider creating a new issue if you wish to contribute to the repository.

[2021-10-01 07:31] #38 closed

[2021-10-01 07:41] rustzz-27 opened #48 "Implement queue using two stacks in c++"
Hello,
Pls assign me this issue under Hacktoberfest 2021.

[2021-10-01 07:48] Avninder99 opened #49 "Queue reversal using stack and recursion implementation in C++"
Hi, Please assign me this issue for both implementations.

[2021-10-01 08:04] thepranaygupta commented on #49
sure, go for it @Avninder99!

[2021-10-01 08:10] thepranaygupta commented on #48
sure go for it @rustzz-27

[2021-10-01 08:30] thepranaygupta commented on #20
@rustzz-27 go for it!

[2021-10-01 08:35] 8-bit-souvik opened #59 "implement insertion sort using C and C++ in algorithm"

[2021-10-01 08:35] 8-bit-souvik commented on #59
Hello! I am interested to work on this issue. Can you please assign it to me?

[2021-10-01 08:42] Avninder99 commented on #49
@thepranaygupta i have made the pull request (PR #61), check it out and let me know if it's okay.

[2021-10-01 09:09] thepranaygupta opened #68 "implement Postfix to Infix in C++"
implement Postfix to Infix in C++ [`here`](https://github.com/thepranaygupta/Data-Structures-and-Algorithms/tree/main/01.%20DataStructures/02.%20Stack/Infix%20Prefix%20Postfix/03.%20Postfix%20to%20Infix)

comment under this issue to get assigned then commit your changes/updates in the respective directory.

Please **DO NOT** spam this repository with irrelevant PRs, or your PR will be marked as `i

[2021-10-01 09:10] thepranaygupta opened #69 "implement Prefix to Infix in C++"
implement Prefix to Infix in C++ [`here`](https://github.com/thepranaygupta/Data-Structures-and-Algorithms/tree/main/01.%20DataStructures/02.%20Stack/Infix%20Prefix%20Postfix/04.%20Prefix%20to%20Infix)

comment under this issue to get assigned then commit your changes/updates in the respective directory.

Please **DO NOT** spam this repository with irrelevant PRs, or your PR will be marked as `inv

[2021-10-01 09:11] thepranaygupta commented on #59
assigned @8-bit-souvik

[2021-10-01 09:14] saiteja-2731 commented on #69
Hey @thepranaygupta, Can I work on this?

[2021-10-01 09:18] motasimmakki commented on #68
Kindly assign this issue to me.

[2021-10-01 09:19] 8-bit-souvik commented on #59
PR created on #59

[2021-10-01 09:36] Avninder99 opened #71 "Tower of Hanoi Stack implementation in C++"
Hi, Can you assign me the task of adding Tower of Hanoi solution (stack implementation) under Hacktoberfest 2021

[2021-10-01 09:40] vaishalijain3456 commented on #20
Hello,
Will you please assign me this issue?
Thank You

[2021-10-01 09:41] thepranaygupta opened #72 "implement Postfix to Prefix in C++"
implement Postfix to Prefix in C++ [`here`](https://github.com/thepranaygupta/Data-Structures-and-Algorithms/tree/main/01.%20DataStructures/02.%20Stack/Infix%20Prefix%20Postfix/05.%20Postfix%20to%20Prefix)

comment under this issue to get assigned then commit your changes/updates in the respective directory.

Please **DO NOT** spam this repository with irrelevant PRs, or your PR will be marked as

[2021-10-01 09:43] thepranaygupta opened #73 "implement Prefix to Postfix in C++"
implement Prefix to Postfix in C++ [`here`](https://github.com/thepranaygupta/Data-Structures-and-Algorithms/tree/main/01.%20DataStructures/02.%20Stack/Infix%20Prefix%20Postfix/06.%20Prefix%20to%20Postfix)

comment under this issue to get assigned then commit your changes/updates in the respective directory.

Please **DO NOT** spam this repository with irrelevant PRs, or your PR will be marked as

[2021-10-01 09:46] thepranaygupta opened #74 "implement Prefix to Postfix in C++"
implement Prefix to Postfix in C++ [`here`](https://github.com/thepranaygupta/Data-Structures-and-Algorithms/tree/main/01.%20DataStructures/02.%20Stack/Infix%20Prefix%20Postfix/06.%20Prefix%20to%20Postfix)

comment under this issue to get assigned then commit your changes/updates in the respective directory.

Please **DO NOT** spam this repository with irrelevant PRs, or your PR will be marked as

[2021-10-01 09:47] #73 closed

[2021-10-01 09:48] thepranaygupta commented on #68
Sure!
issue assigned to @motasimmakki

[2021-10-01 09:49] thepranaygupta commented on #69
Sure!
assigned to @saiteja-2731

[2021-10-01 10:08] #59 closed

[2021-10-01 10:23] nkmishra217 commented on #72
Hey
I would like to work on this .

[2021-10-01 10:57] sammy8825 commented on #74
Can I work on this issue ??

[2021-10-01 11:13] thepranaygupta commented on #14
merged!!

[2021-10-01 11:13] #14 closed

[2021-10-01 11:34] hrigved-dev commented on #20
Hello, I would like to implement Stacks using Array in C++. Would you assign me this issue?

[2021-10-01 12:21] Nisha213-mar commented on #72
Hey
I Would like to work on this

[2021-10-01 12:21] Nisha213-mar commented on #74
Hey
I Would like to work on this

[2021-10-01 12:22] mukeshmjn opened #81 "Maximum Depth of a Binary Tree"
@thepranaygupta I would like to add cpp solution please assign this to me.

[2021-10-01 12:27] mukeshmjn opened #82 "LoveBabbar sheet problem:- 187 Top view of a binary Tree"
I would like to add solution for this in cpp . @thepranaygupta please assign this to me.

[2021-10-01 13:20] thepranaygupta commented on #82
assigned to @mukeshmjn

[2021-10-01 13:20] thepranaygupta commented on #81
assigned to @mukeshmjn

[2021-10-01 13:21] thepranaygupta commented on #72
assigned to @Nisha213-mar

[2021-10-01 13:21] thepranaygupta commented on #74
assigned to @sammy8825

[2021-10-01 13:21] thepranaygupta commented on #71
sure @Avninder99

[2021-10-01 13:30] mukeshmjn commented on #81
@thepranaygupta can you add hacktober fest tag

[2021-10-01 13:31] mukeshmjn opened #92 "LoveBabbar sheet problem:- 188 Bottom view of a binary Tree"
@thepranaygupta PLEASE , assign this to me!

[2021-10-01 13:34] divyavert commented on #92
can  u plz assign this to me

[2021-10-01 13:53] 8-bit-souvik opened #93 "implement selection sort using C and C++ in algorithm"

[2021-10-01 13:53] 8-bit-souvik commented on #93
Hello! I am interested to work on this issue. Can you please assign it to me ?

[2021-10-01 14:13] 8-bit-souvik opened #94 "add Count Sort using C and C++ in algorithm"

[2021-10-01 14:55] kapilbhale commented on #82
I would like to add solution for this in cpp . @thepranaygupta please assign this to me.

[2021-10-01 14:56] gaurshraddha commented on #92
I can add cpp solution, plz assign this to me. I'd be grateful.

[2021-10-01 14:57] gaurshraddha commented on #94
Could you plz assign this to me? I'd add c++ solution.

[2021-10-01 14:59] mukeshmjn commented on #92
I'm working on cpp already I created this issue

[2021-10-01 15:11] gaurshraddha opened #96 "Hamiltonian path (backtracking)"
Assign me this issue plz. I'd add cpp solution.

[2021-10-01 15:15] thepranaygupta commented on #92
assigned to @mukeshmjn

@divyavert and @gaurshraddha issues are assigned on a first come first serve basis, if you wish to contribute you can create a new issue.

[2021-10-01 15:15] thepranaygupta commented on #93
assigned to @8-bit-souvik

[2021-10-01 15:16] thepranaygupta commented on #94
assigned to @gaurshraddha

[2021-10-01 15:17] thepranaygupta commented on #96
assigned!!

[2021-10-01 15:23] 8-bit-souvik opened #97 "add Cyclic Sort using C, C++, and redme.md in algorithm"

[2021-10-01 15:25] 8-bit-souvik commented on #97
Hello! I am interested to work on this issue. Can you please assign it to me ?

[2021-10-01 15:26] 8-bit-souvik commented on #94
Okay I'll add C solution

[2021-10-01 15:28] thepranaygupta commented on #97
assigned to @8-bit-souvik

[2021-10-01 16:00] rustzz-27 commented on #20
I have made a pr pls review it
#99

[2021-10-01 16:14] prathimacode-hub opened #100 "Linked Queue in Python"
Hey,

I'm interested to work on this issue as a hacktober participant. Can you add appropriate label and assign this task to me?

Thank You.

[2021-10-01 16:19] saiteja-2731 opened #101 "Adding backtracking questions in Love babbar DSA sheet"
Hello, I have gone through Love babbar folder in your profile and I came to know that many of the sub-folders i.e Linked lists, Backtracking, etc are empty. Will it be okay to add backtracking solutions from love babbar DSA sheet?

[2021-10-01 16:20] thepranaygupta commented on #100
sure!!
assigned to @prathimacode-hub

[2021-10-01 16:21] thepranaygupta commented on #101
suree go for it!!
assigned to @saiteja-2731

[2021-10-01 16:21] saiteja-2731 commented on #101
Thankyou @thepranaygupta

[2021-10-01 16:58] saiteja-2731 commented on #97
If anyone interested in contributing good problems from DSA in C++ from leetcode or any other platform. Check out this link: [C++ help required](https://github.com/saiteja-2731/DSA-for-Placement-Preparation/issues/2)

[2021-10-01 17:02] mukeshmjn opened #109 "LoveBabbar sheet problem:- 20 Next Permutation"
I would like to submit solution for this in cpp. @thepranaygupta please assign this to me

[2021-10-01 17:03] mukeshmjn opened #110 "Best Time to buy and sell stock"
@thepranaygupta please assign this to me

[2021-10-01 17:05] mukeshmjn opened #111 "Love babbar sheet: Detect Loop in a Linked List"
@thepranaygupta please assign this to me

[2021-10-01 17:05] dsasaank-369 commented on #81
Can you please assign this to me, I want to do in java

[2021-10-01 17:05] mukeshmjn opened #112 "Love babbar sheet: Reverse a Linked List"
@thepranaygupta please assign this to me

[2021-10-01 17:07] mukeshmjn opened #113 "Love babbar sheet: Check Whether a graph is bipartile or not"
@thepranaygupta please assign this to me

[2021-10-01 17:16] icoderharshit opened #115 "Add Problem: Leetcode Q. 71 Simplify Path"
Hey, I went through this repository which is really cool. So, I wanna contribute to the same by adding folders of some great problems on Leetcode. Keeping the same in mind, I am creating this issue for creating a new folder for Question No. 71 on Leetcode in Leetcode Questions sub directory in Stack directory. Kindly assign me this issue, this will be my first PR for Hacktoberfest'21 @thepranaygup

[2021-10-01 17:26] #93 closed

[2021-10-01 17:40] #101 closed

[2021-10-01 17:51] rushikeshadhav commented on #97
Can I work on this issue?

[2021-10-01 17:58] rushikeshadhav commented on #19
Is this issue open?
please assign me.
Thank you

[2021-10-01 17:58] 8-bit-souvik commented on #110
best of luck @mukeshmjn

[2021-10-01 18:00] rushikeshadhav commented on #81
Can I contribute?
Please assign this to me.
Thank you

[2021-10-01 18:00] mukeshmjn commented on #110
@8-bit-souvik i have made some pull request can u merge it

[2021-10-01 18:00] parthn2 commented on #109
I have added PR #117 for this :)

[2021-10-01 18:01] mukeshmjn commented on #81
@thepranaygupta @8-bit-souvik have added pr please review n merge

[2021-10-01 18:03] #109 closed

[2021-10-01 18:06] mukeshmjn commented on #111
@thepranaygupta I just added Lovebabbar problems?

[2021-10-01 18:08] mukeshmjn commented on #110
#108
#107
#103   @8-bit-souvik

[2021-10-01 19:17] 8-bit-souvik commented on #97
PR for using C++ has been created, you can add the readme file and a C file to implement Cyclic Sort

[2021-10-01 19:20] 8-bit-souvik commented on #97
good luck @rushikeshadhav  👍

[2021-10-01 19:54] Avninder99 commented on #71
@thepranaygupta I have created the PR #121 for this issue. Please check it out.

[2021-10-01 20:23] K1RA-16 opened #122 "Pick from both sides - Array Problem"
This is an interview bit problem and i would like to add it into the array folder for algorithms.
I ll be doing the problem in c++.
This is my effort to raise a pull request for hacktoberfest.

[2021-10-01 20:23] K1RA-16 commented on #122
https://www.interviewbit.com/problems/pick-from-both-sides/

[2021-10-02 06:07] rushikeshadhav commented on #97
Added readme and C file to implement cyclicsort. Please review, if there is any changes let me know

[2021-10-02 07:24] motasimmakki commented on #68
Kindly review PR #127

[2021-10-02 07:41] sammy8825 commented on #74
I have sent the PR sir

[2021-10-02 12:39] thepranaygupta commented on #111
you can add your set of solutions under one issue, no need of creating a new issue for every solution.

[2021-10-02 12:40] mukeshmjn commented on #111
@thepranaygupta atleast merge my old pr's for now will take care from. Next time.

[2021-10-02 12:40] thepranaygupta commented on #115
sure @icoderharshit, go for it!!
make sure to add your solutions in their respective directory.

[2021-10-02 12:41] thepranaygupta commented on #122
assigned to @K1RA-16 !!

[2021-10-02 13:25] K1RA-16 opened #132 "Pascal Triangle - Array Problem"
This is an interview bit problem and i would like to add it into the array folder for algorithms.
I ll be doing the problem in c++.
This is my effort to raise a pull request for hacktoberfest.

[2021-10-02 13:25] K1RA-16 commented on #132
https://www.interviewbit.com/problems/pascal-triangle/
the question's been asked in google and amazon

[2021-10-02 14:37] rushikeshadhav opened #133 "Hii, I wanted to add famous interview problem Majority Element"
Please assign me this.
This question is asked in many interviews.
I need this for hacktoberfest.

[2021-10-02 14:45] MuskanGupta1503 commented on #133
Can I work on this.. please

[2021-10-02 14:54] thepranaygupta commented on #132
sure @K1RA-16 go for it 👍

[2021-10-02 14:55] thepranaygupta commented on #133
assigned to @rushikeshadhav 👍

[2021-10-02 14:56] thepranaygupta commented on #133
Sorry @MuskanGupta1503 we are assigning issues on a First Come First Serve basis, please consider creating a new issue if you wish to contribute. 😄

[2021-10-02 15:44] rushikeshadhav commented on #133
@thepranaygupta Added the majority element problem. Kindly merge.

[2021-10-02 15:47] Onkar627 commented on #112
@thepranaygupta Could you assign this to me?

[2021-10-02 16:09] #20 closed

[2021-10-02 16:24] samyaksand commented on #112
Hello! I am interested to work on this issue. Can you please assign it to me ?

[2021-10-02 17:55] vartikavr opened #142 "Love Babbar DSA Sheet - Count Strongly Connected Components"
I'll be adding an explanation and solution (in C++) to the problem  - Count Strongly Connected Components using Kosaraju Algorithm. I'll add this under the folder Love Babbar DSA Sheet Solutions/Graph.
Kindly assign this to me.

[2021-10-02 19:08] sbaijal commented on #113
Can I work on this issue?
Please assign me this issue @thepranaygupta

[2021-10-03 03:29] #94 closed

[2021-10-03 03:29] #96 closed

[2021-10-03 03:45] thepranaygupta commented on #142
sure @vartikavr go for it!! 🚀

[2021-10-03 03:45] #92 closed

[2021-10-03 03:46] #82 closed

[2021-10-03 03:49] #133 closed

[2021-10-03 03:57] Exynos03 commented on #132
I want to work on this . I will solve the problem in java

[2021-10-03 04:00] thepranaygupta commented on #112
assigned to @Onkar627 !!

[2021-10-03 04:02] thepranaygupta commented on #113
assigned to @sbaijal 🚀

[2021-10-03 06:05] bsen20 commented on #111
@thepranaygupta  can I work on this problem for my first step towards open source.

[2021-10-03 07:59] anugyaparashar opened #151 "Love Babbar DSA Sheet- Kandane's Alorithm"
Hi, I want to add the approach and solution of Kandane's Algorithm (C++), in the "Love Babbar DSA Sheet Solutions/Array" repository. Please consider this contribution as a part of **Hacktoberfest 2021**. Kindly assign me this.

[2021-10-03 08:30] thepranaygupta opened #152 "implement Circular Queue using Arrays in C"
implement Circular Queue using Arrays in C [`here`](https://github.com/thepranaygupta/Data-Structures-and-Algorithms/tree/main/01.%20DataStructures/03.%20Queue/Basic%20Operations/04.%20Circular%20Queue%20using%20Array)

comment under this issue to get assigned then commit your changes/updates in the respective directory.

Please **DO NOT** spam this repository with irrelevant PRs, or your PR will

[2021-10-03 08:31] thepranaygupta commented on #151
Sure @anugyaparashar this issue is assigned to you 👍

[2021-10-03 08:31] thepranaygupta commented on #132
okay @Exynos03 assigned to you as well. 👍

[2021-10-03 08:50] shaurya5 commented on #152
Please assign this issue to me

[2021-10-03 09:01] #142 closed

[2021-10-03 09:05] K1RA-16 opened #154 "Intersection of two sorted array using pointers."
This is an interview bit question asked in Facebook and google.
I ll be solving this as my contribution in the hacktober fest 2021.
 the link to the question is https://www.interviewbit.com/problems/intersection-of-sorted-arrays/

[2021-10-03 09:10] thepranaygupta commented on #111
yes @bsen20 assigned this issue to you!!

[2021-10-03 09:10] thepranaygupta commented on #152
assigned to @shaurya5

[2021-10-03 09:11] thepranaygupta commented on #154
go for it @K1RA-16 !!

[2021-10-03 09:11] #21 closed

[2021-10-03 09:12] thepranaygupta commented on #21
please create a new issue and I'll assign it to you 👍

[2021-10-03 09:12] #19 closed

[2021-10-03 09:13] #22 closed

[2021-10-03 09:15] #32 closed

[2021-10-03 09:15] #48 closed

[2021-10-03 09:16] #49 closed

[2021-10-03 09:17] Chayan-11 opened #155 "Iterative function to show Linear Search in Linked List"
I would like to add a c code to demonstrate how an iterative function carries Linear Search on linked List. It can be added in your Singly Linked List folder. Please assign me with this issue @thepranaygupta

[2021-10-03 09:17] thepranaygupta commented on #68
Amazing work!! 🥇

Amazing work!! 🥇

[2021-10-03 09:17] #68 closed

[2021-10-03 09:18] thepranaygupta commented on #69
Amazing work!! 🥇

[2021-10-03 09:18] #69 closed

[2021-10-03 10:20] HatimTai1 commented on #151
Sir I would like to solve the issue. Kindly assign me this.

[2021-10-03 10:23] HatimTai1 commented on #110
Sir I would like to solve this. Kindly assign me this issue.

[2021-10-03 11:48] K1RA-16 opened #159 "Sort a binary linked list"
This is an interview bit question asked in AMAZON
i will be doing it under hacktoberFest 2021
looking forward to merge this under the linked list inteview question in the folder DATA STRUCTURES

[2021-10-03 13:29] KilariBinduYadav commented on #112
@thepranaygupta I would like to contribute in C++, Can you please assign it to me ?

[2021-10-03 13:36] anugyaparashar commented on #151
@thepranaygupta
I have completed the task and Created a pull request for the same. Please have a look.
 #161

[2021-10-03 15:09] thepranaygupta commented on #110
sorry @HatimTai1 this issue was already assigned to @mukeshmjn and it'll be closed now

[2021-10-03 15:10] #110 closed

[2021-10-03 15:10] thepranaygupta commented on #155
sure @Chayan-11
assigned to you 🚀

[2021-10-03 15:11] thepranaygupta commented on #159
assigned to @K1RA-16 🚀

[2021-10-03 15:26] 8-bit-souvik commented on #110
Sorry @HatimTai1 there was a misunderstanding, the PR regarding to this issue is already merged. But you can raise an issue or work on other unassigned one.

[2021-10-03 15:58] Chayan-11 commented on #155
Made the PR #163

[2021-10-03 16:08] rushikeshadhav opened #164 "Top interview questions on recursion. Please assign me, I will add them."
N queens
Sudoku solver
K-th permutation Sequence

[2021-10-03 17:07] SaloniJain24 opened #165 "Find largest sum contiguous subarray - 450 questions"
pls assign this problem to me under hacktoberfest'21

[2021-10-03 18:50] Itashi19 opened #168 "Love Babbar DSA Sheet: Find the Union of the two sorted arrays."
Hi, I want to add the approach and solution of Union of two sorted arrays (C++), in the "Love Babbar DSA Sheet Solutions/Array" repository. Please consider this contribution as a part of Hacktoberfest 2021. Kindly assign me this.

[2021-10-03 18:58] tiwarishubham635 commented on #159
Is this issue still open ? If yes, I would like to take this up, can you assign it to me?

[2021-10-03 19:00] K1RA-16 commented on #159
Actually i am done with the program and will generate a pr tomorrow so ...
i hope u can find another problem to solve
Happy coding !!

[2021-10-03 19:01] tiwarishubham635 commented on #159
Yeah sure, No issues

[2021-10-03 19:03] tiwarishubham635 commented on #72
Is this issue still open ? I would like to work on it. Can you assign it to me ?

[2021-10-03 19:47] sudiptapradhan commented on #165
I've already done it!

[2021-10-04 03:22] ameyachawlaggsipu opened #169 "Radix and Cyclic Sort implementation in Python"
Hi , can you please assign me task to implement Radix and Cyclic sort in Python?

[2021-10-04 06:48] Rutikab12 opened #172 "Flatten a Binary tree"
Hey, @thepranaygupta I want to add the below problem in your repo as a Hacktoberfest21 contributor.

Problem: Given a binary tree, flatten it into a linked list in place.

Language: C++

Please assign this task to me with an appropriate label.

[2021-10-04 06:56] thepranaygupta commented on #164
sure @rushikeshadhav go for it!!

[2021-10-04 08:41] thepranaygupta commented on #165
sorry @SaloniJain24 the solution to this problem is already submitted by @sudiptapradhan [here](https://github.com/thepranaygupta/Data-Structures-and-Algorithms/tree/main/Love%20Babbar%20DSA%20Sheet%20Solutions/Arrays/Largest%20Sum%20Contiguous%20Subarray)

[2021-10-04 08:41] #165 closed

[2021-10-04 09:03] MrM-7 commented on #152
Can you please assign this to me ?

[2021-10-04 10:11] harshita9621 opened #174 "Binary Tree Zigzag Level Order Traversal"
Hey, @thepranaygupta I want to add the below problem in your repo as a Hacktoberfest21 contributor.

Problem: Given the root of a binary tree, return the zigzag level order traversal of its nodes' values.

Language: C++

Please assign this task to me with an appropriate label.

[2021-10-04 10:23] thepranaygupta commented on #168
assigned to @Itashi19

[2021-10-04 10:24] thepranaygupta commented on #169
sure, assigned to @ameyachawlaggsipu 🚀

[2021-10-04 10:24] thepranaygupta commented on #172
assigned to @Rutikab12 🚀

[2021-10-04 10:25] thepranaygupta commented on #174
assigned to @harshita9621 !!

[2021-10-04 10:27] thepranaygupta commented on #152
sorry @MrM-7 this issue is already assigned to someone

[2021-10-04 13:28] K1RA-16 opened #178 "Palindrome List"
interview bit problem under Linked List
https://www.interviewbit.com/problems/palindrome-list/
Asked in Amazon & Microsoft

[2021-10-04 16:11] Priyanshi136 commented on #178
@thepranaygupta Hey, can you assign this task to me.

[2021-10-04 16:14] K1RA-16 commented on #178
Hi @Priyanshi136 actually the question's done and I'm just waiting for his approval to raise a pr so maybe u can try another problem?
Happy coding 💯

[2021-10-04 18:41] Yug-gurnani opened #179 "Heap Topic Added"

[2021-10-05 04:08] yellowberard opened #184 "display matrix in spiral form"
A program to display a matrix in spiral form.
I want to contribute this problem for Hacktoberfest 2021.
Please assign me this issue and give the appropriate label.

[2021-10-05 04:18] yellowberard opened #185 "most water in the container"
I want to add  the answer for leetcode question - https://leetcode.com/problems/container-with-most-water/
Language-c++
I want to contribute for hacktoberfest21.
Please assign me this issue and appropriate label.

[2021-10-05 04:21] yellowberard opened #186 "Reversing words in the string"
I want to add leetcode problem-https://leetcode.com/problems/reverse-words-in-a-string/
language-C++
I want to contribute this under Hacktoberfest21 .
Please assign me this issue and appropriate label.

[2021-10-05 15:54] YUG-RAVAL opened #189 "Recursion in Python"
Hey, @thepranaygupta  I want to add the below problem in your repo as a Hacktoberfest21 contributor.

Problem: Factorial of N number

Language: Python

Please assign this task to me with an appropriate label.

[2021-10-06 06:02] K1RA-16 commented on #178
@thepranaygupta can i go ahead with the pr
???

[2021-10-06 13:03] thepranaygupta commented on #178
yes @K1RA-16 you can

[2021-10-06 13:05] #179 closed

[2021-10-06 13:23] thepranaygupta commented on #184
assigned to @yellowberard

[2021-10-06 13:39] kumar-tushar opened #191 "Trapping Rain Water"
This question is asked by many top companies like Google, Facebook, etc.

Interviewbit Link: https://www.interviewbit.com/problems/rain-water-trapped/

I want to solve this issue in Java.

This is related to Array.

Contributing for Hacktoberfest 2021

[2021-10-06 13:43] kumar-tushar commented on #191
This is related to Array

[2021-10-06 17:35] #178 closed, assigned to K1RA-16

[2021-10-06 18:04] #97 closed

[2021-10-06 18:05] #100 closed

[2021-10-06 18:22] kumar-tushar commented on #191
Could I work on this issue @thepranaygupta

[2021-10-06 18:54] tiwarishubham635 commented on #72
@thepranaygupta I have made the PR #196
Please check.

[2021-10-07 05:28] 07anhad opened #197 "Count occurrences of anagrams"
This is a question from geeksforgeeks...this will be my first contribution to hacktober2021
I'll solve this in c++
I'll do this under the array problems in the folder algorithms.

https://practice.geeksforgeeks.org/problems/count-occurences-of-anagrams5839/1

[2021-10-07 12:02] thepranaygupta opened #199 "Merge two sorted arrays without using extra space"
Add a solution to the "Merge two sorted arrays without using extra space" problem in Love Babbar's DSA sheet.

[2021-10-07 12:04] thepranaygupta commented on #186
assigned to @yellowberard 🚀

[2021-10-08 08:06] #199 closed, assigned to sonalsingh25

[2021-10-08 13:59] thepranaygupta commented on #113
since this issue was inactive for a long time, it is reassigned to @appu912 🚀

[2021-10-08 16:44] sonalsingh25 opened #206 "Segregate 0s and 1s in an array"
Add a solution for this problem in Array Lists folder inside Data Structures.

[2021-10-09 04:05] sejalrastogi opened #209 "Maximum Subarray"
I want to add java solution for maximum subarray problem

[2021-10-09 05:26] thepranaygupta commented on #209
assigned to @sejalrastogi

[2021-10-09 08:18] krishna6431 opened #211 "Nth Natural Number (Asked in Google)"
This question is asked by Google
GfG Link: https://practice.geeksforgeeks.org/problems/nth-natural-number/1

This Problem Belongs to Hard Problem

I want to solve this issue in C++.

This is related to Digit Conversion + Mathematics + Number System.

Contributing for Hacktoberfest 2021

[2021-10-09 10:36] appu912 commented on #113
Hey @thepranaygupta I have made a pull request. Can you plz tell if I have done everything correctly because its my first time.

[2021-10-09 14:43] puranjay123 opened #215 "CodeChef DSA Learning Series Answers"
hey , Can I work on CodeChef Problem? I will add answers of the DSA learning Series in C++ .

[2021-10-09 17:37] #184 closed

[2021-10-10 03:39] kumar-tushar opened #218 "Git Clone Problem"
After Git Clone, only .git folder is shown on my PC.
All other folders are not shown.
May be this problem exists for other users also.

[2021-10-10 04:20] ayushjha952 opened #219 "Reverse Linkedlist- ii (Interviewbit Question)Solution in C++"
I would like to add the solution of the following question in c++.
Data-Structures-and-Algorithms/01. DataStructures/01. Linked List/1. Singly-Linked-List/InterviewBit Questions/12. Reverse LL-ii/
@thepranaygupta Can you please assign it to me?

[2021-10-10 15:13] vidhi-sareen opened #220 "Rotate the 2D array 90 degree anti-clock wise"
I want to add C++ solution for Rotating the array 90 degree anti-clock wise @thepranaygupta

[2021-10-10 18:51] Itashi19 opened #221 "Love Babbar DSA sheet:Longest Common Subsequence"
Hi, @thepranaygupta  I want to add the approach and solution of Longest Common Subsequence  (C++), in the "Love Babbar DSA Sheet Solutions/Dynamic Programming" repository. Please consider this contribution as a part of Hacktoberfest 2021. Kindly assign me this.

[2021-10-11 10:58] rahulxsingh opened #222 "Print all subsequences of a string"
This is a question from Love Babbar's DSA sheet and I'll add a solution for it in C++ inside the Strings folder.

[2021-10-11 12:03] thepranaygupta commented on #215
sure @puranjay123 go for it 🚀

[2021-10-11 12:22] #218 closed

[2021-10-11 15:06] #211 closed, assigned to krishna6431

[2021-10-11 15:38] ayushjha952 opened #226 "C++ Solution for 3Sum Problem."
I would like to add the solution of the following [question](https://github.com/thepranaygupta/Data-Structures-and-Algorithms/tree/main/02.%20Algorithms/01.%20Arrays/12.%203Sum%20%2315) in c++.
@thepranaygupta Can you please assign it to me?

[2021-10-11 15:56] shreya40 opened #227 "Implementation of stack using queue"
Implementation of stack using queue in C.

[2021-10-11 16:03] shreya40 opened #228 "Implementation of stack using priority queue"
Implementation of stack using priority queue in C.

[2021-10-11 16:25] ayushjha952 opened #230 "Delete loop in a Linked List solution in C++."
This is a question from Love Babbar's DSA sheet and I want to add a solution for it in C++ inside the LinkedList folder.
@thepranaygupta can you please assign it to me?

[2021-10-11 16:48] thepranaygupta commented on #226
sure @ayushjha952 go for it 🚀

[2021-10-12 03:54] ayushjha952 commented on #226
@thepranaygupta can you please check the [PR](https://github.com/thepranaygupta/Data-Structures-and-Algorithms/pull/231) once ?

[2021-10-12 06:42] chauhanarpit09 opened #232 "Wants to add some Dynamic Programming Solution in LoveBabbar sheet directory"
- knapsack Problem
- Binomial Coefficient
- Edit Distance

Assign this issue to me I will add both bottom-up and top-down solution

[2021-10-14 23:12] StreakSharn opened #234 "Recursive Fibonacci Solution"
Hi, I'd like to add a solution to [this Fibonacci Problem](https://github.com/thepranaygupta/Data-Structures-and-Algorithms/tree/main/02.%20Algorithms/04.%20Recursion/Problems/01.%20509.%20Fibonacci%20Number) using Python. Can I be assigned this task?

[2021-10-15 05:48] thepranaygupta commented on #215
Yes it is

[2021-10-15 10:04] shreya40 opened #236 "Kadane's Algorithm"
Given an array Arr[] of N integers. Find the contiguous sub-array(containing at least one number) which has the maximum sum and return its sum.
Input:
N = 5
Arr[] = {1,2,3,-2,5}
Output:
9
Explanation:
Max subarray sum is 9
of elements (1, 2, 3, -2, 5) which
is a contiguous subarray.

[2021-10-15 10:06] shreya40 opened #237 "Wave Array"
Given a sorted array arr[] of distinct integers. Sort the array into a wave-like array and return it
In other words, arrange the elements into a sequence such that arr[1] >= arr[2] <= arr[3] >= arr[4] <= arr[5].....
example:
Input:
n = 5
arr[] = {1,2,3,4,5}
Output: 2 1 4 3 5
Explanation: Array elements after
sorting it in wave form are
2 1 4 3 5.

[2021-10-15 10:12] thepranaygupta commented on #237
Assigned to @shreya40 🚀

[2021-10-15 10:16] #172 closed

[2021-10-15 10:18] #232 closed, assigned to chauhanarpit09

[2021-10-15 11:57] #236 closed, assigned to shreya40

[2021-10-15 12:42] #237 closed, assigned to shreya40

[2021-10-15 19:06] shreya40 opened #240 "Floor in a Sorted Array"
Given a sorted array arr[] of size N without duplicates, and given a value x. Floor of x is defined as the largest element K in arr[] such that K is smaller than or equal to x. Find the index of K(0-based indexing).
Example 1:
Input:
N = 7, x = 0
arr[] = {1,2,8,10,11,12,19}
Output: -1
Explanation: No element less
than 0 is found. So output
is "-1".

[2021-10-15 19:11] #240 closed, assigned to nobody

[2021-10-16 05:36] abhijeet007rocks8 opened #244 "Detect cycle in a undirected Graph using DFS"
C++ implementation of Cycle Detection in undirected Graph.

[2021-10-16 05:40] abhijeet007rocks8 opened #245 "Mirror a Binary Search Tree"
Given A binary Search Tree, Generate the mirror of the BST and print the preorder sequence of both.

[2021-10-16 09:32] 8-bit-souvik commented on #191
Thanks for contributing 🎉

[2021-10-16 09:32] #191 closed, assigned to kumar-tushar

[2021-10-16 10:30] ishikapandey opened #246 "Memoization Problems in C++"
I'd like to add some memoization problems in the recursion folder. Can you please assign this to me?

[2021-10-16 14:25] thepranaygupta commented on #245
assigned to @abhijeet007rocks8 🚀

[2021-10-16 17:32] PrabhuRaamDev commented on #209
I want to contribute to this project. Can you assign this to me?

[2021-10-16 17:33] PrabhuRaamDev commented on #244
I want to contribute in java. Can you assign this to me?

[2021-10-16 17:33] thepranaygupta commented on #245
sorry @PrabhuRaamDev this issue is already assigned to @abhijeet007rocks8

[2021-10-16 17:34] PrabhuRaamDev commented on #206
I want to contribute in java. Can you assign this to me?

[2021-10-16 17:34] PrabhuRaamDev commented on #174
I want to contribute in java. Can you assign this to me?

[2021-10-16 17:35] PrabhuRaamDev commented on #245
@thepranaygupta  If you have any other unassigned issue, then please assign to me.

[2021-10-16 18:11] RSMIT01 opened #252 "N-queens II problem in c++"
I want add new variation of n-queens problem which is n-queens II on LeetCode , can you assign me....

[2021-10-16 18:50] thepranaygupta commented on #209
@sejalrastogi are you working on this issue?
If not then I'll assign it to @PrabhuRaamDev

[2021-10-17 10:41] #226 closed, assigned to ayushjha952

[2021-10-17 13:44] StreakSharn opened #263 "Adding Recursive Array Permutation Question (& Answer)"
I'd like to add a Recursion challenge, to write a program which takes an array as input and returns all permutations (possible rearrangements) of it as an output.

e.g

[[1, 2, 3, 4], [1, 2, 4, 3], [1, 3, 2, 4], [1, 3, 4, 2], [1, 4, 2, 3], [1, 4, 3, 2], [2, 1, 3, 4], [2, 1, 4, 3], [2, 3, 1, 4], [2, 3, 4, 1], [2,
4, 1, 3], [2, 4, 3, 1], [3, 1, 2, 4], [3, 1, 4, 2], [3, 2, 1, 4], [3, 2, 4, 1], [3, 4,

[2021-10-17 14:57] Raj-Kharwar-26 opened #264 "Hiii , I want to add some more concept of sorting (DNF sort) in C++ in your algorithm topic. Please assign this issue to me and give me the proper label of hacktober fest"

[2021-10-17 19:42] Raj-Kharwar-26 opened #267 "I want to add concept of number theory that how to calculate a^n in O(log n) time complexity in C++.Please assign this issue to me and give the proper tag of hacktober fest"

[2021-10-18 08:37] harshita9621 commented on #174
@thepranaygupta Review this PR

[2021-10-18 09:47] agamjotsingh18 commented on #230
is this question done if not @thepranaygupta  you can assign me

[2021-10-18 09:49] agamjotsingh18 commented on #246
Is this done ? if not you can assign me @thepranaygupta

[2021-10-18 14:35] kumar-tushar opened #269 "Max Product Subarray"
This question is regularly asked by Amazon, LinkedIn, Microsoft

Interviewbit Link: https://www.interviewbit.com/problems/max-product-subarray

I want to solve this issue in Java & C++

This is related to Array.

[2021-10-19 06:56] thepranaygupta commented on #264
Assigned to @Raj-Kharwar-26  🚀

[2021-10-19 06:57] thepranaygupta commented on #267
Assigned to @Raj-Kharwar-26  🚀

[2021-10-19 06:59] #220 closed

[2021-10-19 16:41] #227 closed, assigned to shreya40

[2021-10-20 07:35] #230 closed, assigned to nobody

[2021-10-20 09:36] Aakash01ak commented on #185
@thepranaygupta If this problem is not done yet. Can you assign this to me .

[2021-10-21 11:26] 8-bit-souvik commented on #269
Thanks for contributing! 🎉

[2021-10-21 11:26] #269 closed

[2021-10-21 12:01] RSMIT01 commented on #252
@thepranaygupta  pls, check my pr #282

[2021-10-21 13:38] thepranaygupta commented on #185
@yellowberard are you working on this issue?

[2021-10-21 14:09] Aritra-20 commented on #185
showing this error: invalid path '01. DataStructures/08. Graph/Leetcode Questions/03. Is Graph Bipartite? #785/Is Graph Bipartite.

how to resolve this??

[2021-10-21 15:11] dreamer-Girl opened #288 "Hii I want to add zig zag traversal of binary tree and merge two BSTs solution in C++ . please assign"

[2021-10-21 15:13] dreamer-Girl opened #289 "missing zig zag traversal of BSTs and merging two BSTs solution"
Hii please assign me this (zig-zag traversal of BSTs and merging two BSTs solution) so i can provide their solution in c++.

[2021-10-22 06:27] #197 closed, assigned to 07anhad

[2021-10-22 06:32] #289 closed, assigned to nobody

[2021-10-22 12:18] AnweshCR7 opened #301 "REQ: Add scripts providing a pythonic implementations of algorithms"
Provided some python scripts for algorithms that were missing a pythonic implementation. The intention is to have a richer repository and provide different ways of thinking by allowing one to compare java, cpp code with the python implementation. Feel like this is a good way to collect all my pull requests in one place.

List of pull requests made:
[String Reversal (Single Line Code)](https://gith

[2021-10-22 15:18] #301 closed, assigned to nobody

[2021-10-22 15:47] Sarthak1799 opened #305 "Wanna add solution to Sudoku Solver problem"
Hi @thepranaygupta

I would like to add the CPP solution to the leetcode problem 'Sudoku Solver' in the Backtracking folder.
Could you please assign me the same?

[2021-10-22 17:42] Aashutosh-922 opened #306 "I want to add Advance Data Stuctures."
Hello ! I want to add Advanced Data Structures and their examples in CPP in this repository. Please allow me to do so and assign the task.

[2021-10-23 18:40] jshubham895 opened #316 "I want to add Minimum Spanning Tree Graph Algorithms"
Hi @thepranaygupta ,

I want to add the popular minimum spanning tree algorithms prim and kruskal algorithms in the graph algorithms folder.
Could you please assign me this issue?

Thanks

[2021-10-23 20:21] krishna6431 opened #317 "I want to add Return Two Prime Number(Hard)(Yahoo,Zoho)"
This question is asked by Yahoo and Zoho
GfG Link: https://practice.geeksforgeeks.org/problems/return-two-prime-numbers2509/1
This Problem Belongs to Hard Problem

I want to solve this issue in C++.

This is related to  Mathematics + Number System.

Contributing for Hacktoberfest 2021

[2021-10-23 20:24] krishna6431 opened #318 "I want to add Merge Without Extra Space(Hard && Important)"
This question is asked by Goldman Sachs, Adobe, Microsoft, Linkedin, and many more Companies
GfG Link: https://practice.geeksforgeeks.org/problems/merge-two-sorted-arrays-1587115620/1
This Problem Belongs to Hard Problem

I want to solve this issue in C++.

This is related to Algorithms Section.

Contributing for Hacktoberfest 2021

[2021-10-24 12:43] Sadaf-pixel opened #319 "Add Solution: Find the Maximum and Minimum Element in the array in cpp"
I want to work for this issue

[2021-10-24 13:26] #319 closed, assigned to Sadaf-pixel

[2021-10-24 13:38] Sadaf-pixel opened #321 "add new program of Reverse of Array in cpp"
i want to work for this issue.

[2021-10-24 13:44] #321 closed, assigned to Sadaf-pixel

[2021-10-24 13:49] Sadaf-pixel opened #323 "add new program of Count Sort in C"
I want to work for this issue

[2021-10-24 13:52] #323 closed, assigned to Sadaf-pixel

[2021-10-24 13:56] Sadaf-pixel opened #325 "add new program of Binary Search in python"
i want to work for this  issue

[2021-10-24 14:05] #325 closed, assigned to Sadaf-pixel

[2021-10-24 18:15] Raghvender1205 opened #327 "Mirror of a Tree in LoveBabber450 Questions"
I want add the Mirror of a Tree Solution in C++. This question is in the 450 Questions list under Binary Tree tag. Please assign this to me.

[2021-10-25 16:53] #316 closed, assigned to jshubham895

[2021-10-26 10:35] #305 closed, assigned to Sarthak1799

[2021-10-26 10:50] #327 closed, assigned to Raghvender1205

[2021-10-26 15:28] adrishyantee opened #341 "Include Graph Traversals - BFS and DFS"
Hello! I want to Include Graph Traversals - BFS and DFS and their solution in CPP in this repository. Please allow me to do so and assign the task under Hackactober fest.

[2021-10-26 15:30] adrishyantee opened #342 "Include Graph Concept - Cycle Detection through BFS and DFS traversals."
Hello! I want to include how to detect cycles in graphs both by bfs and dfs traversals and their solutions in CPP in this repository. Please allow me to do so and assign the task under Hackactober fest.

[2021-10-26 15:35] adrishyantee opened #343 "Include Graph Concept - Topological sort"
Hello! I want to include how to print a topological sort of a DAG and its solution in CPP in this repository. Please allow me to do so and assign the task under Hackactober fest.

[2021-10-26 15:37] adrishyantee opened #344 "Include graph concept - Dijkstra Algorithm"
Hello! I want to include Dijkstra's algorithm on how to find the shortest distance from the source and its solution in CPP in this repository. Please allow me to do so and assign the task under Hackactober fest.

[2021-10-29 07:35] aivan2798 opened #347 "16 bit checksum calculator"
i want to add an algorithm that calculates the 16bit one's complement checksum of the bytes provided to it.
`for hacktoberfest21`

[2021-10-29 14:37] #206 closed, assigned to sonalsingh25, PrabhuRaamDev

[2021-10-29 14:50] #317 closed, assigned to krishna6431

[2021-10-29 14:50] #318 closed, assigned to krishna6431

[2021-10-29 15:03] krishna6431 opened #349 "Ugly Number Hard Level Google Interview Question"
This question is asked by Goldman Sachs,Google,Paytm and many more Companies
GfG Link: https://practice.geeksforgeeks.org/problems/ugly-numbers2254/1
This Problem Belongs to Hard Problem

I want to solve this issue in C++.

This is related to Number System  Section.

Contributing for Hacktoberfest 2021

[2021-10-29 15:22] #306 closed, assigned to Aashutosh-922

[2021-10-29 16:05] #288 closed, assigned to dreamer-Girl

[2021-10-31 03:15] 21Shadow10 opened #369 "Leetcode Dynamic Programming Basic Questions"

[2021-10-31 05:01] #341 closed

[2021-10-31 05:01] #342 closed

[2021-10-31 05:08] 8-bit-souvik commented on #369
thanks for contributing  🎉

[2021-10-31 05:08] #369 closed

[2021-10-31 05:21] 8-bit-souvik commented on #215
thanks @puranjay123 for contributing  🎉

[2021-10-31 07:20] puranjay123 commented on #215
@8-bit-souvik  Why are you closing this issue it is still incomplete and many questions have been left to be uploaded.  I will Complete this folder then you can close this issue or I can simply make PR without the issue to complete this folder.

[2021-10-31 07:24] #349 closed

[2021-10-31 07:38] 8-bit-souvik commented on #215
@puranjay123  I reviewed your PR #346, thought it's your last PR

[2021-10-31 07:41] #347 closed

[2021-10-31 07:42] puranjay123 commented on #215
@8-bit-souvik  No, the folder is not complete once the folder is complete you can close it.

[2021-10-31 07:44] puranjay123 commented on #215
@8-bit-souvik a friend of mine also uploaded some answers on this folder we have discussed completing this folder together if you don't mind please check his PR's and merge it.

[2021-10-31 07:55] #122 closed

[2021-10-31 07:55] #164 closed

[2021-10-31 07:55] #169 closed

[2021-10-31 07:55] #185 closed

[2021-10-31 07:56] thepranaygupta commented on #215
sorry for the inconvenience

[2021-10-31 07:56] #209 closed

[2021-10-31 07:57] #244 closed

[2021-10-31 07:57] #222 closed

[2021-10-31 07:57] #228 closed

[2021-10-31 07:58] #264 closed

[2021-10-31 07:58] thepranaygupta commented on #343
@adrishyantee are you working on this issue?

[2021-10-31 07:59] thepranaygupta commented on #344
@adrishyantee  are you working on this issue?

[2021-11-16 03:12] jsabherwal commented on #344
I could work on it this week as she hasn't. I know these algorithms well because of my leetcode competition experience. I request you to assign this to me.

[2021-11-16 03:14] jsabherwal commented on #343
I could work on it this week as she hasn't. I know these algorithms well because of my leetcode competition experience. I request you to assign this to me.

[2021-11-16 08:04] thepranaygupta commented on #343
sure @jsabherwal go for it 👍

[2021-11-16 08:05] thepranaygupta commented on #344
assigned to @jsabherwal

[2021-12-13 13:24] jsabherwal commented on #344
Should be closed now, created a pull request with the implementation.

[2021-12-14 05:18] #344 closed

[2021-12-14 05:20] thepranaygupta commented on #343
@jsabherwal do you wish to work on this issue?

[2022-01-08 08:43] #343 closed

[2022-01-10 05:25] Rohithv07 opened #381 "Topological Ordering using Kahns Algorithm."
There is Kahn's algorithm which can be used to implement the topological ordering or sort. It uses BFS concept and there is only dfs solution discussed.

[2022-01-10 05:45] Rohithv07 commented on #381
Added a PR for the same, please review

[2022-01-12 00:37] ybrenning opened #383 "Fix main blocks and add methods to SinglyLL.py"
The singly list implementation in Python has two `if __name __== __main__` blocks and is missing basic operations such as append or remove. I want to fix this and add the methods for these basic operations to the `LinkedList` class.

[2022-01-30 08:43] aritra-tech opened #388 "Range Sum of BST"
I want to add the Range Sum of BST Solution in Java, in the Leetcode Questions of the Tree folder. This question is asked in Amazon, Google, so it is important to add. Please assign this to me.

[2022-02-24 11:08] Rohithv07 commented on #381
@thepranaygupta please review this issue and the code. Thank you

[2022-04-17 09:19] aadil42 opened #394 "Merge request."
Hello, @priyamm,  I've created a pull request by adding the js version of the linked-list implementation. Please check and merge it. let me know if you encounter any issues with the code.

[2022-06-30 06:26] sacarvy opened #399 "can we have a solution section for golang or rust"
Programming languages, as these solution can help new Devs learn these new but quite useful languages

[2022-08-19 13:59] AbdullahArean opened #404 "primMST.cpp is not Structured and only one way of implemeting"
02. Algorithms/05. Graphs/Minimum Spanning Tree/Prim Algorithm/primMST.cpp is poorly strutured and only one implementation is given, there might be linkedlist implementation, array implementation and Heap/priorityqueue implementation

[2022-09-18 14:12] aadil42 opened #423 "Wrong Description of a problem."
https://github.com/thepranaygupta/Data-Structures-and-Algorithms/tree/main/01.%20DataStructures/01.%20Linked%20List/1.%20Singly-Linked-List/InterviewBit%20Questions/14.%20Palindrome%20List

The Readme description is wrong for the problem the problem is about Palindrome but the Readme file has a description of  Sorting a Binary linked list.

[2022-09-29 12:42] Satyabrat-Ojha commented on #423
I am willing to solve this issue please assign this to me

[2022-10-01 09:04] TRohit20 opened #442 "Regs. Time and Space Complexity"
Time and Space Complexity is very important to both crack interviews and master learning DSA on a whole. It helps you understand how your algorithm is doing and how you can optimise it.
I have added detailed notes with tips and tricks, kindly go through and have a look or add some resources for people to learn.
[Time and Space Complexity.pdf](https://github.com/thepranaygupta/Data-Structures-and-A

[2022-10-01 11:19] ANUKULJHA1506 opened #444 "need to add new questions in love babbar linkedlist"
there are only few questions in linked list ,  we have to contribute more in this

[2022-10-05 16:56] #444 closed

[2022-10-07 16:26] akshat-o5 opened #454 "Sorting Algorithms"
Add various sorting algorithms.

[2022-10-07 16:28] #454 closed

[2022-10-07 16:32] akshat-o5 opened #455 "Leetcode Solutions"

[2022-10-08 07:02] CodeXstalker commented on #455
According  to the **rules to contributor** , **`YES`** you can.
Have a nice journey ahead.

Thank you.

[2022-10-10 08:48] YashGupta018 commented on #455
Can I also contribute in the same please, as hacktoberfest contribution

[2022-10-11 10:44] CodeXstalker commented on #455
Sure @YashGupta018 .
Just go ahead.

**`Happy Coding`**

[2022-10-14 15:14] ashutosh-gupta2111 commented on #455
Hello, Can you please assign this issue to me?

[2022-10-14 15:15] ashutosh-gupta2111 commented on #404
Hello, Can you please assign this issue to me?

[2022-10-14 15:16] ashutosh-gupta2111 opened #458 "Competitive Programming Tricks."
Give some Competitive programming tricks?

[2022-10-14 15:16] ashutosh-gupta2111 commented on #458
Can you please assign this issue to me?

[2022-10-14 18:12] CodeXstalker commented on #455
This repo is not in HactoberFest2022

On Fri, Oct 14, 2022 at 8:45 PM Ashutosh gupta ***@***.***>
wrote: